  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>

        <li><a href="/workers"><i class="fa fa-book"></i> <span>Liste compagnons</span></a></li>
	<li><a href="/workers/create"><i class="fa fa-book"></i> <span>Créer Compagnon</span></a></li>

        <li><a href="/sites"><i class="fa fa-book"></i> <span>Liste Chantiers</span></a></li>
	<li><a href="/sites/create"><i class="fa fa-book"></i> <span>Créer Chantier</span></a></li>

        <li><a href="/scores"><i class="fa fa-book"></i> <span>Liste Pointages</span></a></li>
        <li><a href="/extern/import"><i class="fa fa-book"></i> <span>Import</span></a></li>
        <li><a href="/extern/export"><i class="fa fa-book"></i> <span>Export</span></a></li>
        <li><a href="/"><i class="fa fa-book"></i> <span>Déconnexion</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
